@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: .3s;
}

body {
  background-color: #232638;
  background-image: url(./public/img/joker-img.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #1B2234;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3657CB;
  border-radius: 10px;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background-size: contain;
}

button {
  cursor: pointer;
}

main {
  margin-top: 60px;
}

button:active {
  scale: .9;
}

.container {
  width: 1920px;
  max-width: 94%;
  margin: 30px auto;
}

.header-main {
  height: 55px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-main a {
  color: white;
}

a  {
  text-decoration: none;
}

.cinema-icon-block {
  display: flex;
  align-items: center;
}

.cinema-icon-block span {
 color: #3657CB;
 font-weight: 700;
 margin-left: 5px;
 font-size: 22px;
}

.cinema-icon-block p {
  font-weight: 700;
  font-size: 22px;
}

.network-icons {
  margin-top: 8px;
}

.header-center {
  display: flex;
  gap: 30px;
}

.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-btn {
  padding: 13px 15px;
  border-radius: 10px;
  border: none;
  transition: .3s;
}

.search-btn:hover  {
  background-color: #232638;
}

.search-btn:hover img {
  filter: invert(100%);
}

.btn-sign-in { 
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #4871FFCC;
  border: none;
  background-color: #3657CB;
  color: white;
  transition: .3s;
}

.header-main-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-sign-in:hover {
  box-shadow: 0 0 15px 10px #4871FFCC;
}

.hovered-block {
  padding: 10px;
  border-radius: 5px;
  transition: .4s;
  cursor: pointer;
}

.hovered-block:hover {
  background-color: #25559B;
  color: white;
}

.cinema-logo {
  cursor: pointer;
}

.genre-block {
  color: #6D717D;
  margin-top: 30px;
  display: flex;
  gap: 85px;
  align-items: center;
}

.genre-block h1 {
  font-size: 30px;
  color: white;
}

.all-genre {
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-genre p {
  font-size: 16px;
  cursor: pointer;
}

.movie {
  width: 339px;
  height: 520px;
  background-image: url(./public/img/joker-post.jpg);
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: 100% 90%;
  position: relative;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
}

.movie-card {
  background-color: #4871FFCC;
  position: absolute;
  top: -90%;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie:hover .movie-card {
  top: 0;
}

.card-movie {
  background-color: white;
  border-radius: 10px;
  color: #3657CB;
  width: 224px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.bottom-description {
  color: white;
  position: absolute;
  bottom: 0px;
}

.bottom-description h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.bottom-description p {
  color: #D8DD14;
  font-size: 14px;
}

.movies-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.rated-block {
  background-color: #4BCA36;
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
}

.btn-block {
  width: 100%;
  text-align: center;
}

.btn-block button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 20px 25px;
  border-radius: 10px;
  transition: .4s;
  font-size: 18px;
  font-weight: 600;
}

.btn-block button:hover {
  background-color: white;
  color: #232638;
}

.block-trailer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.trailer-right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}

.trailer-right:hover {
  background-color: #25559B;
}

.trailer-right p {
  font-size: 20px;
}

.new-trailer-block {
  margin-top: 70px;
}

.movie-trailer-block {
  width: 100%;
  height: 1100px;
  margin-top: 80px;
  position: relative;
}

.movie-trailer {
  width: 100%;
  height: 90%;
  background-image: url(./public/img/joker-img.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  /* position: relative; */
}

.comment-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-left {
  display: flex;
  color: white;
  gap: 30px;
}

.comment-left h1 {
  font-size: 50px;
}

.comment-left img {
  width: 200px;
}

.btn-like,
.btn-disLike {
  background-color: #1B2133;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn-disLike {
  padding-top: 15px;
  padding-bottom: 5px;
}


.btn-like img,
.btn-disLike img {
  width: 30px;
  transition: .3s;
}

.btn-disLike:hover img,
.btn-like:hover img {
  filter: invert(50%);
}

.comment-right {
  display: flex;
  gap: 10px;
}

.likes-block {
  display: flex;
  gap: 35px;
  color: white;
  margin-left: 5px;
  margin-top: 10px;
}

.btn-disLike-block,
.btn-like-block {
  text-align: center;
  color: white;
}

.trailer-movie {
  width: 20%;
  height: 90%;
  position: relative;
}

.movie-path {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  cursor: pointer;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.movie-path-title {
  position: absolute;
  bottom: 0;
  height: 7%;
  width: 100%;
  color: white;
  margin-top: 10px;
}

.all-new-trailer {
  width: 100%;
  height: 280px;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.all-new-trailer div {
  flex-shrink: 0; 
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6D717D;
}

.popular-top h1 {
  font-size: 50px;
  color: white;
}

.all-hovered {
  display: flex;
  align-items: center;
}

.popular-movie-block {
  margin-top: 60px;
  height: 750px;
}

.popular-movies-block {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  justify-content: center;
}

.swipe-block img {
  width: 50px;
  filter: invert(100%);
  cursor: pointer;
}

.swipe-block {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 80px;
}

.popular-people-block {
  display: flex;
  gap: 20px;
}

.popular-human {
  width: 30%;
  height: 500px;
  background-color: #25559B;
  border-radius: 10px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.popular-people-block {
  margin-top: 50px;
}

.rate-human {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #F2F60F;
  font-size: 20px;
  font-weight: 500;
}

.descript-human {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.descript-human h1 {
  color: white;
}

.descript-human h3 {
  color: #5A5A59;
}

.descript-human h2 {
  color: #F2F60F;
}

.popular-top h2 {
  color: white;
}

.popular-human-cont {
  margin-bottom: 80px;
}

.last-news-block {
  margin-top: -30px;
  width: 79%;
}

.last-news {
  width: 100%;
  height: 800px;
  margin-top: 40px;
}

.last-news-movie {
  width: 100%;
  height: 800px;
  background-image: url(./public/img/joker-img.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
}

.footer-cont {
  background-color: #151A26;
  padding: 40px 0 30px 0;
}

.links-cont {
  width: 100%;
  height: 700px;
  border-radius: 10px;
  text-align: center;
  color: white;
  background-image: url(./public/img/Фон-futter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-links span{
  font-size: 22px;
}

.top-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px 0;
  height: 200px;
}

.center-links h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
}

.bottom-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.bottom-links input {
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 25px 20px;
  width: 425px;
  outline: none;
}

.bottom-links button {
  background-color: #F1F50F;
  color: black;
  width: 182px;
  padding: 23px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.stop-video-block {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  right: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: 50% 50%;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  transition: .3s;
}

.stop-video-block:hover {
  background-color: #3657CB;
}

.about-block {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;
  margin: 30px 0 0 40px;
  height: 100px;
}

.about-block img {
  margin-left: 10px;
}

.description-news-block {
  margin-top: 400px;
  width: 70%;
  color: white;
  margin-left: 40px;
}

.description-news-block h1 {
  font-size: 40px;
}

.description-news-block p {
  font-size: 20px;
  margin-top: 20px;
}

.all-last-news-block {
  width: 20%;
  height: 100%;
  margin-left: 1%;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  transition: .3s;
  gap: 10px;
}

.last-news {
  display: flex;
}

.last-news-mini {
  height: 25%;
  width: 100%;
  background-color: #151A26;
  border-radius: 10px;
  padding: 15px;
  color: white;
  flex-direction: column;
  display: flex;
  gap: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .3s;
}

.other-popular-human {
  width: 37%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.all-popular-human-block {
  position: relative;
}

.other-human {
  height: 35%;
  width: 100%;
  background-color: #151A26;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-popular-human div {
  flex-shrink: 0; 
}

.other-human h1 {
  color: white;
}

.other-human h2 {
  color: #F1F50F;
  margin-top: 5px;
}

.other-human h3 {
  color: #3B486B;
  margin-top: 5px;
}

.place-block p {
  color: #D8DD14;
  font-size: 18px;
  font-weight: 600;
}

.btn-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #100F14;
  padding: 10px;
  border-radius: 5px;
  width: 73px;
  height: 73px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.all-afish {
  display: flex;
  color: #6D717D;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.links-network-block {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  color: white;
}